<form class="form-inline row">
    <a href="" class="col-md-3"></a>
    <input
        [(ngModel)]="search"
        class="form-control col-md-4 campoBusqueda "
        type="text"
        name="search"
        placeholder="Buscar libro por titulo"
        aria-label="search"
        id="search"
    />
    <button class="btn btn-outline-success " type="submit"><i class="fa fa-search" aria-hidden="true" disabled></i></button>
</form>
<form class="form-inline">
    <a class="col-md-8"></a>
    <label for=""><strong>Filtrar por</strong></label>
    <div class="col">
        <select class="custom-select float-left" name="filtro" id="filtro" [(ngModel)]="filtro">
            <option value="0">Seleccione el genero</option>
            <option *ngFor="let item of generos; let indice = index" value="{{ generos[indice] }}"> {{ item }}</option>
        </select>
    </div>
</form>
<br />
<div class="row col-xl-12">
    <div *ngFor="let libro of libros | genero: filtro | nombre: search; let i = index" class="col-xl-3">
        <app-libro [libro]="libro" class="libros" (click)="informacion(i)"></app-libro>
    </div>
</div>
