<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

    <!-- Seccion Para mostrar los libros existentes -->
    <div *ngIf="_libro.getPagina()==1">
        <app-listar></app-listar>
    </div>

    <!-- Seccion para ver el detalle del libro -->

    <div *ngIf="_libro.getPagina()==2">
        <app-detalle></app-detalle>
    </div>

    <!-- Seccion para mostrar el formulario de reserva -->

    <div *ngIf="_libro.getPagina()==3">
        <app-reserva></app-reserva>
    </div>

</section>