<div class="container">

  <nav class="navbar navbar-expand-lg fixed-top fondoNavbar">

    <a class="navbar-brand ocultar ">
      <img src="../../../assets/images/Logos/logoUnicacuca.png" class="rounded imgLogoUnicauca" alt="Logo Unicauca">
    </a>
    <a class="navbar-brand ocultar">
      <img src="../../../assets/images/Logos/LetrasUnicauca.png" class="rounded imgNombreUnicauca ocultar"
        alt="Universidad del Cauca">
    </a>
    <a  class="navbar-brand">
      <p class="text-center txtHeaderTituloSsae ocultar">Biblioteca online <br> Unicauca</p>
    </a>
    <a class="navbar-brand">
      <img src="../../../assets/images/Logos/biblioteca.jpg " class="rounded imgLogoSsae" alt="Logo Unicauca">
    </a>&nbsp;&nbsp;
    <a class="navbar-brand ">
      <p class="text-center txtHeaderSiglasSsae">BOU</p>
    </a>
    <a  class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
  </nav>

</div>