<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

    <!--Tabla de mis resrvas  -->

    <div class="card-header" style="text-align: center">Reservas</div>
    <table class="card-body table table-hover">
        <thead>
            <tr>
                <th>Nombre Libro</th>
                <th class="ocultar">Fecha Reserva</th>
                <th>Fecha Entrega</th>
                <th class="ocultar">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reservas; let indice = index">
                <td>{{item.nomLibro}}</td>
                <td class="ocultar">{{item.fechaRes | date:'medium'}}</td>
                <td>{{item.fechaEnt |date:'medium'}}</td>
                <td class="ocultar">{{item.estado}}</td>
            </tr>
        </tbody>
    </table><br>
</section>